body {
    background-color: #262831;
    color: #bdbdbd;
}

h1,h2,h3,h4,h5,h6,h7 {
    color: #e0e0e0;
}

b {
    color: #e0e0e0;
}

.param {
    color: #86E6FA;
    font-weight: bold;
}

.fun {
    color: #E29BF7;
    font-weight: bold;
}

.units {
    color: #e0e0e0;
    font-weight: bold;
}

.ok {
    color: #C1FFBE;
}

.incomplete {
    color: #EEDD92;
}

.error {
    color: #FB8577;
}


/*-----------NAV-------------------*/

nav {
    margin-top: 8em;
}

.nodeTree {    
    margin: 1em 0em 1em 0.2em;
}
.nodeTree.expanded > .body {    
    border-left: solid 1px #37474f;
}
.nodeTree > .header {
    /*background-color: #4fc3f7;*/
    cursor: pointer;
    border-radius: 0.25em;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.nodeTree > .header:hover {
    background-color: #37474f;
}

.functionNavs {
    line-height: 2em;
}

.functionNav {    
    margin: 1em 0.2em 1em 0.2em;
    padding: 0.25em 0.5em 0.25em 0.5em;
    cursor: pointer;
    border-radius: 0.25em;
    text-decoration: none;
    color: #bdbdbd;
}

.functionNav.selected {
    background-color: #E29BF7;
    color: #262831;
}

.functionNav:hover {
    background-color: #37474f;
}

.functionNav.selected:hover {
    background-color: #E29BF7;
}


/*-----------EVAL-BOX-------------------*/

.eval-box {
    margin-top: 10em;
}

.eval-box > input {
    outline: none;
    background-color: transparent;
    border: solid 1px #37474f;
    font-size: 200%;
    padding: 0.5em 0.5em;
    border-radius: 0.5em;
}

.eval-box > input:focus {
    background-color: #37474f;
}

.eval-box > .result-value {
    display: block;
    padding: 0.5em 0.5em;
    font-size: 200%;
}

.eval-box > .error-message {
    padding: 0.5em 0.5em;
    display: block;
}
